trigger: 
  - main

pool:
  name: apppool

stages:

# -------------------------
# Stage 1: Build (Init, Validate, Plan)
# -------------------------
- stage: Build
  displayName: "Terraform Init, Validate, Plan"
  jobs:
  - job: TerraformInitValidatePlan
    displayName: "Run Terraform Init, Validate and Plan"
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        backendServiceArm: 'npr'
        backendAzureRmStorageAccountName: 'shivprodstorageacc'
        backendAzureRmContainerName: 'storagecontainer'
        backendAzureRmKey: 'terraform.tfstate'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'validate'

    - task: TerraformTask@5
      name: tfplan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        environmentServiceNameAzureRM: 'npr'
        vars: |
          environment=dev

# -------------------------
# Stage 2: Deploy (Apply)
# -------------------------
- stage: Deploy
  displayName: "Terraform Apply"
  dependsOn: Build
  jobs:
  - job: TerraformApply
    displayName: "Apply Terraform Changes"
    steps:

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'apply'
        environmentServiceNameAzureRM: 'npr'
        args: '-auto-approve'
